.calculator {
  margin: auto;
  display: grid;
  height: 300px;
  width: 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.result {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}
